:host {
	--_ui5_select_hover_icon_left_border: 1px solid transparent;
	--_ui5_select_label_color: var(--sapField_TextColor);
	--_ui5_select_icon_width: 2.25rem;
	--_ui5_select_icon_wrapper_height: 100%;
}

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_select_icon_width: 2rem;
	}
}