@media (width > 600px) {
	.sideNavigation:not([collapsed]) {
    width: 18rem;
	}
}

.mainContent {
    padding: var(--sapContent_Gap);
}

.quickCreateDialog::part(footer) {
	padding-inline: 0;
}

/* Notifications */
.notificationsPopover {
	width: 27rem;
	max-height: 40rem;
}

.notificationsPopover::part(header) {
	padding: 0;
	box-shadow: none;
}

.notificationsPopover::part(content) {
	padding: 0;
}

.notificationsPopoverHeader {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.notificationsPopoverList {
	height: 100%;
}

.notificationsPopoverBar,
.notificationsPopoverBar::part(bar) {
	box-shadow: none;
}

/* End notifications */

/* User Settings Dialog */

.ua-name{
	display:inline;
	margin:0.5rem
}
.container{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 3rem;
}

.ua-panel{
	border-top: 2px solid lightgrey;
	margin: 1rem 0;
}

.save-btn{
	position: absolute;
	bottom: 1rem;
}

.lr-item{
	display: grid;
	grid-template-columns: 150px 1fr;
	align-items: center;
	gap: 16px;
}

.lt-time-format{
	display: flex;
	align-items: center;
	margin: 0 1rem 0 1rem;
}

.language-region-container{
	display: flex;
	min-height: 2.5rem;
	align-item:flex-start;
	flex-direction: column;
	gap: 0.563rem;
}

.language-region-label{
	display: flex;
	flex: 1 0 0;
	width: 100%;
}

.language-region-control{
	display: flex;
	gap: 0.188rem;
	width: 100%;
}
/* End User Settings Dialog */