@import "../base/RatingIndicator-parameters.css";

:host {
	--_ui5_rating_indicator_readonly_item_height: 0.75em;
	--_ui5_rating_indicator_readonly_item_width: 0.75em;
	--_ui5_rating_indicator_readonly_item_spacing: 0.1875rem 0.1875rem;
}

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_rating_indicator_item_height: 1em;
		--_ui5_rating_indicator_item_width: 1em;
		--_ui5_rating_indicator_readonly_item_height: 0.75em;
		--_ui5_rating_indicator_readonly_item_width: 0.75em;
		--_ui5_rating_indicator_component_spacing: 0.5rem 0px;
	}
}