@import "../base/sizes-parameters.css";

:root {
	/* CalendarLegend */
    --_ui5-calendar-legend-item-root-focus-offset: -0.0625rem;

    /* ColorPicker */
	--_ui5_color_picker_slider_handle_container_margin_top: 0.1875rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
    /* ColorPicker */
	--_ui5_color_picker_slider_handle_container_margin_top: none;
}
