@import "../base/InputIcon-parameters.css";

:host {
	--_ui5_input_icon_padding: .5rem .5rem .5rem .5625rem;
}

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_input_icon_padding: .1875rem .375rem .1875rem .4375rem;
	}
}