@import "../base/SideNavigation-parameters.css";

:host {
	--_ui5_side_navigation_width: 16rem;
	--_ui5_side_navigation_box_shadow: var(--sapContent_Shadow0);
	--_ui5_side_navigation_icon_padding_inline_end: 0.4375rem;


	--_ui5_side_navigation_item_height: 2.5rem;
}

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_side_navigation_item_height: 2rem;
	}
}