body {
	background-color: var(--sapBackgroundColor);
}

.pageContainer {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

h1 {
	color: var(--sapGroup_TitleTextColor);
	font-size: var(--sapFontHeader5Size);
	font-family: var(--sapFontHeaderFamily);
}

.popoverSettings div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.popoverOpenerContainer {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}