:host {
	--_ui5_TimelineItem_arrow_size: 1.625rem;
	--_ui5_TimelineItem_bubble_border_width: 0.0625rem;
	--_ui5_TimelineItem_bubble_border_style: dotted;
	--_ui5_TimelineItem_bubble_border_radius: 0.25rem;
	--_ui5_TimelineItem_bubble_border_color: var(--sapList_BorderColor);
	--_ui5_TimelineItem_bubble_border_top: -0.125rem;
	--_ui5_TimelineItem_bubble_border_right: -0.125rem;
	--_ui5_TimelineItem_bubble_border_bottom: -0.125rem;
	--_ui5_TimelineItem_bubble_border_left: -0.625rem;
	--_ui5_TimelineItem_bubble_rtl_left_offset: -0.125rem;
	--_ui5_TimelineItem_bubble_rtl_right_offset: -0.625rem;
	--_ui5_TimelineItem_bubble_focus_border_radius: 0;
	--_ui5_TimelineItem_horizontal_bubble_focus_top_offset: -0.625rem;
	--_ui5_TimelineItem_horizontal_bubble_focus_left_offset: -0.125rem;

	--_ui5_TimelineItem_bubble_content_padding: var(--_ui5_tl_bubble_padding);
	--_ui5_TimelineItem_bubble_content_subtitle_padding_top: 0.375rem;
	--_ui5_TimelineItem_bubble_content_description_padding_top: 0.75rem;

	/* Timeline (container) */
	--_ui5_tl_bubble_padding: 1rem;
	--_ui5_tl_padding: 1rem 1rem 1rem .5rem;
	--_ui5_tl_li_margin_bottom: 1.625rem;

	/* TimelineItem */
	--_ui5_timeline_tli_indicator_before_bottom: -1.5rem;
	--_ui5_timeline_tli_indicator_before_right: -1.625rem;
	--_ui5_timeline_tli_indicator_before_without_icon_bottom: -1.875rem;
	--_ui5_timeline_tli_indicator_before_without_icon_right: -1.9375rem;

	/* TimelineItem COZY */
	--_ui5_timeline_tli_indicator_after_top: calc(-100% - 1rem);
	--_ui5_timeline_tli_indicator_after_height: calc(100% + 1rem);
	--_ui5_timeline_tli_indicator_before_height: 100%;
	--_ui5_timeline_tli_horizontal_indicator_after_width: calc(100% + 0.25rem);
	--_ui5_timeline_tli_horizontal_indicator_after_left: 1.9375rem;
	--_ui5_timeline_tli_horizontal_without_icon_indicator_before_width: calc(100% + 0.5rem);
	--_ui5_timeline_tli_horizontal_indicator_before_width: calc(100% + 0.5rem);
	--_ui5_timeline_tli_icon_horizontal_indicator_after_width: calc(100% + 0.25rem);
	--_ui5_timeline_tli_without_icon_horizontal_indicator_before_width: calc(100% + 0.375rem);
	--_ui5_timeline_tli_horizontal_indicator_short_after_width: 100%;
}

@container style(--ui5_content_density: compact) {
	:host {
		/* Timeline (container) */
		--_ui5_tl_bubble_padding: .5rem;
		--_ui5_tl_padding: .5rem;
		--_ui5_tl_li_margin_bottom: .5rem;

		/* TimelineItem */
		--_ui5_timeline_tli_indicator_before_bottom: -0.75rem;
		--_ui5_timeline_tli_indicator_before_right: -0.5rem;
		--_ui5_timeline_tli_indicator_before_without_icon_bottom: -1rem;
		--_ui5_timeline_tli_indicator_before_without_icon_right: -0.8125rem;

		/* TimelineItem COMPACT */
		--_ui5_timeline_tli_indicator_before_height: calc(100% - 1.25rem);
		--_ui5_timeline_tli_horizontal_without_icon_indicator_before_width: var(--_ui5_timeline_tli_indicator_after_height);
		--_ui5_timeline_tli_horizontal_indicator_after_width: var(--_ui5_timeline_tli_indicator_after_height);
		--_ui5_timeline_tli_horizontal_indicator_before_width: var(--_ui5_timeline_tli_indicator_after_height);
		--_ui5_timeline_tli_icon_horizontal_indicator_after_width: var(--_ui5_timeline_tli_indicator_after_height);
		--_ui5_timeline_tli_indicator_after_top: calc(-100% + 0.9375rem);
		--_ui5_timeline_tli_indicator_after_height: calc(100% - 0.75rem);
		--_ui5_timeline_tli_horizontal_indicator_after_left: 1.8625rem;
		--_ui5_timeline_tli_horizontal_indicator_short_after_width: calc(100% - 1rem);
		--_ui5_timeline_tli_without_icon_horizontal_indicator_before_width: calc(100% - 0.625rem);
	}
}