:host {
	--_ui5_user_settings_avatar_cozy_display: inline-block;
	--_ui5_user_settings_avatar_compact_display: none;
	--_ui5_user_settings_item_title_font_size: var(--sapFontSize);
}

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_user_settings_avatar_cozy_display: none;
		--_ui5_user_settings_avatar_compact_display: inline-block;
		--_ui5_user_settings_item_title_font_size: var(--sapFontLargeSize);
	}
}