@import "../base/TimelineItem-parameters.css";

:host {
	--_ui5_TimelineItem_bubble_rtl_left_offset: -0.1875rem;
	--_ui5_TimelineItem_bubble_rtl_right_offset: -0.6875rem;
}

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_timeline_tli_indicator_after_height: 50%;
		--_ui5_timeline_tli_indicator_after_top: -50%;
		--_ui5_timeline_tli_horizontal_indicator_after_width: calc(100% - 1rem);
	}
}