@import "../base/TimelineItem-parameters.css";

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_timeline_tli_indicator_after_height: 50%;
		--_ui5_timeline_tli_indicator_after_top: -50%;
		--_ui5_timeline_tli_horizontal_indicator_after_width: calc(100% - 1rem);
	}
}