.ui5-user-settings-account {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.ui5-user-settings-account-avatar {
	display: flex;
	max-width: 7rem;
	max-height: 7rem;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
}

.ui5-user-settings-account-title {
	text-align: center;
	margin-top: 0.25rem;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontLargeSize);
	color: var(--sapTextColor);
}

.ui5-user-settings-account-subtitleText {
	text-align: center;
	margin-bottom: 0.25rem;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
	color: var(--sapContent_LabelColor);
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui5-user-settings-account-description {
	text-align: center;
	margin-bottom: 0.25rem;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
	color: var(--sapContent_LabelColor);
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui5-user-settings-account-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	border-radius: var(--sapButton_BorderCornerRadius);
	border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
	background: var(--sapButton_Background);
}

.ui5-user-settings-account-btn::part(button) {
	padding: 0.375rem;
}

