@import "../base/SliderBase-parameters.css";

:root {
	--_ui5_slider_inner_min_width: 4rem;
	--_ui5_range_slider_handle_background_focus: transparent;
	--_ui5_slider_track_total_height: var(--_ui5_slider_inner_height);
	--_ui5_range_slider_handle_background: transparent;
	--_ui5_range_slider_handle_active_background: transparent;
	--_ui5_slider_handle_background: var(--sapButton_Background);
	--_ui5_slider_handle_hover_background: var(--sapButton_Hover_Background);
	--_ui5_range_slider_root_hover_handle_bg: transparent;
	--_ui5_range_slider_root_active_handle_icon_display: none;
	--_ui5_slider_handle_width: 1.875rem;
	--_ui5_slider_handle_height: 1.875rem;
	--_ui5_slider_handle_border: 0.125rem solid var(--sapField_BorderColor);
	--_ui5_slider_handle_border_radius: 1rem;
	--_ui5_slider_handle_top: calc((var(--_ui5_slider_track_total_height) - var(--_ui5_slider_handle_height)) / 2);
	--_ui5_slider_handle_box_sizing: border-box;
	--_ui5_slider_tickmark_height: 1rem;
	--_ui5_slider_tickmark_top: calc((var(--_ui5_slider_track_total_height) - var(--_ui5_slider_tickmark_height)) / 2);
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_slider_handle_width: 1.5rem;
	--_ui5_slider_handle_height: 1.5rem;
	--_ui5_slider_handle_top: calc((var(--_ui5_slider_track_total_height) - var(--_ui5_slider_handle_height)) / 2);
	--_ui5_slider_tickmark_height: 0.75rem;
	--_ui5_slider_tickmark_top: calc((var(--_ui5_slider_track_total_height) - var(--_ui5_slider_tickmark_height)) / 2);
}
