@import "../base/TimelineItem-parameters.css";

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	/* Timeline Item COMPACT - sap_fiori_3 specific values */
	--_ui5_timeline_tli_indicator_after_height: 50%;
	--_ui5_timeline_tli_indicator_after_top: -50%;
	--_ui5_timeline_tli_horizontal_indicator_after_width: calc(100% - 1rem);
	--_ui5_timeline_tli_icon_horizontal_indicator_after_width: calc(100% - 0.75rem);
}
