@import "../base/TimelineGroupItem-parameters.css";

:host {
	--_ui5_timeline_tlgi_line_horizontal_height: 16.375rem;
	--_ui5_timeline_tlgi_root_horizontal_height: 21.53125rem;
}

@container style(--ui5_content_density: compact) {
	:host {
		--_ui5_timeline_tlgi_root_horizontal_height: 20.90625rem;
	}
}