@import "../base/TimelineGroupItem-parameters.css";

:root {
	--_ui5_timeline_tlgi_line_horizontal_height: 16.375rem;
	--_ui5_timeline_tlgi_root_horizontal_height: 21.53125rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_timeline_tlgi_root_horizontal_height: 20.90625rem;
}