name: Release

on:
  # Manual releases
  workflow_dispatch:
    inputs:
      release_type:
        description: 'type'
        required: true
        type: choice
        options:
          - 'rc'
          - 'stable'
          - 'hotfix'
          - 'experimental'
        default: 'rc'
      new_version:
        description: 'version (stable and hotfix only)'
        required: false
        default: ''
        type: string
      npm_tag:
          description: 'tag (hotfix only)'
          required: false
          default: ''
          type: string

  # Scheduled automatic RC releases
  schedule:
    - cron: "00 08 * * THU"  # Thursdays at 8 AM UTC


jobs:
  # Job : Version and Build
  build-and-release:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
      pages: write
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version-output.outputs.version }}
    steps:
       # Checkout and Prepare
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4.1.0
        with:
          node-version: 22
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      # Conditional Version Bump
      
      - name: Version - Stable
        if: ${{ github.event.inputs.release_type == 'stable' }}
        env:
          GH_TOKEN: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
        run: |
          git config user.name "${{ secrets.UI5_WEBCOMP_BOT_NAME }}"
          git config user.email "${{ secrets.UI5_WEBCOMP_BOT_EMAIL }}"
          yarn lerna version ${{ github.event.inputs.new_version || '' }} --conventional-graduate --force-conventional-graduate --yes --exact --create-release github

      - name: Version - RC
        if: ${{ github.event.inputs.release_type == 'rc' }}
        env:
          GH_TOKEN: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
        run: |
          git config user.name "${{ secrets.UI5_WEBCOMP_BOT_NAME }}"
          git config user.email "${{ secrets.UI5_WEBCOMP_BOT_EMAIL }}"
          yarn lerna version --conventional-prerelease --force-publish --yes --exact --create-release github

      - name: Version - Hotfix
        if: ${{ github.event.inputs.release_type == 'hotfix' }}
        env:
          GH_TOKEN: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
        run: |
          git config user.name "${{ secrets.UI5_WEBCOMP_BOT_NAME }}"
          git config user.email "${{ secrets.UI5_WEBCOMP_BOT_EMAIL }}"
          yarn lerna version ${{ github.event.inputs.new_version || '' }} --conventional-graduate --force-conventional-graduate --yes --exact --create-release github

      - name: Version - Experimental
        if: ${{ github.event.inputs.release_type == 'experimental' }}
        run: |
          git config user.name "${{ secrets.UI5_WEBCOMP_BOT_NAME }}"
          git config user.email "${{ secrets.UI5_WEBCOMP_BOT_EMAIL }}"
          git_hash=$(git rev-parse --short "${{ github.sha }}")
          yarn lerna version "0.0.0-${git_hash}" \
          --exact \
          --no-push \
          --yes \
          --allow-branch ${{ github.ref_name }} \
          --ignore-changes @ui5/webcomponents-website \
          --ignore-changes @ui5/webcomponents-cypress-internal \
          --ignore-changes @ui5/webcomponents-cypress-ct \

      # Build
      - name: Build
        run: yarn ci:releasebuild

      # Output new version 
      - name: Output Version
        id: version-output
        run: |
          VERSION=$(node -p "require('./lerna.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      # Conditional NPM Publish
      - name: Publish - Stable
        if: ${{ github.event.inputs.release_type == 'stable'}}
        env:
          GH_TOKEN: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
        run: |
          yarn lerna publish from-git --yes

      - name: Publish - RC
        if: ${{ github.event.inputs.release_type == 'rc'}}
        env:
          GH_TOKEN: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
        run: |
          yarn lerna publish from-git --yes

      - name: Publish - Hotfix
        if: ${{ github.event.inputs.release_type == 'hotfix' }}
        env:
          GH_TOKEN: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
        run: yarn lerna publish from-git --yes --dist-tag ${{ github.event.inputs.npm_tag }}
        
      - name: Publish - Experimental
        if: ${{ github.event.inputs.release_type == 'experimental' }}
        env:
          GH_TOKEN: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
        run: |
          yarn lerna publish from-git --yes --dist-tag experimental

      # Changelog
      - name: Merge Release Changelog
        if: ${{ github.event.inputs.release_type == 'stable' }}
        uses: actions/github-script@v7
        env:
            GH_TOKEN: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
        with:
            github-token: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
            script: |
              const mergeReleaseChangelog = (await import('${{ github.workspace }}/.github/actions/mergeReleaseChangelog.mjs')).default;
              await mergeReleaseChangelog({ github , context });
              
      # Conditional Deploy
      # Deploy RC
      - name: Pre-Deploy RC
        if: ${{ github.event.inputs.release_type == 'rc'}}
        run: |
          yarn ci:deploy:nightly
  
      - name: Deploy RC
        if: ${{ github.event.inputs.release_type == 'rc'}}
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: packages/website/build # The folder the action should deploy.
          target-folder: nightly
          clean: true

      # Release Comments
      - name: Publish Release Comments
        if: ${{ github.event.inputs.release_type == 'stable' || github.event.inputs.release_type == 'rc' }}
        uses: actions/github-script@v7
        env:
            NODE_OPTIONS: '--max-old-space-size=12096'
            GH_TOKEN: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
        with:
            github-token: ${{ secrets.UI5_WEBCOMP_BOT_GH_TOKEN }}
            script: |
              const commentOnFixedIssues = (await import('${{ github.workspace }}/.github/actions/commentOnFixedIssues.mjs')).default;
              await commentOnFixedIssues({ github, context });
